body{
    font-family: 'Roboto', sans-serif;
    background-color: #cf6208;
}

/* navbar css starts here  */
.bg-light{
    background-color: #4eaa18!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color:purple!important;
}

.nav-link{
    color: rgb(151, 18, 122)!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: none;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(51, 161, 29)!important;
    color: rgb(13, 15, 156)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(227, 230, 67)!important;
}